{% extends 'base/base_table.html' %}{{ '' }}
{% block title %}{{ title }} {{ '' }}{% endblock %}
{% block javascript %}
  <script>

  function material_split(event) {
    // 向後端發送 AJAX 請求
    url = '/material/split/constn/'

    $.ajax({
      url: url,
      method: 'GET',
      data:{'id':event},
      success: function (data) {
        $('#modalContainer').html(data)
        $('#createModal').modal('show')
      },
      error: function (error) {
        console.error('Error loading modal content: ', error)
      }
    })
  }

  </script>
{% endblock %}
{% block form %}
  {% load strmap %}
  <!-- Corrected form tag and added trailing slash to action attribute -->
  <form id="search" action="/constn_stock/list/" method="GET">
    {% csrf_token %}
    <p>
      <label for="code">工地編號</label>
      <input type="text" id="code" name="code" value ="{{ request.GET.code }}" />
      <label for="owner">業主</label>
      <input type="text" id="owner" name="owner" value="{{ request.GET.owner }}" />
      <label for="address">地址</label>
      <input type="text"
             id="address"
             name="address"
             value="{{ request.GET.address }}" />
      {% get_constn_state as constn_state %}  <!-- 调用模板标签并将结果赋值给变量 -->
      <!-- {{constn_state}}-->
      <label for="state">狀態</label>
      <select id="state" name="state">
        <option value>全部</option>
        {% for state in constn_state %}
          <!-- 迭代 constn_state 变量 -->
          <option value="{{ state.0 }}"
                  {% if request.GET.state == state.0|stringformat:"s" %}selected{% endif %}>{{ state.1 }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      <label for="mat_code">料號:</label>
      <input type="text" id="mat_code" name="mat_code" value="{{ request.GET.mat_code }}" />
      <label for="mat_name">料名:</label>
      <input type="text" id="mat_name" name="mat_name" value="{{ request.GET.mat_name }}" />
      <label for="category_id">分類 :</label>
      <select id="category_id" name="category_id">
        <option value> 全部 </option>
        {% for category in categorys %}
        <option value="{{ category.id }}" 
        {% if request.GET.category_id and request.GET.category_id|stringformat:"s" == category.id|stringformat:"s" %} selected {% endif %}>
          {{ category.name }}</option>
        {% endfor %}
      </select>
</p>
    <input type="submit" value="查詢" />
  </form>

{% endblock %}
{% block table %}
  <caption>工地庫存</caption>
  <thead>
    <tr>
      <th scope="col">工地編號</th>
      <th scope="col">業主</th>
      <th scope="col">工程名稱</th>
      <th scope="col">料號</th>
      <th scope="col">料名</th>
      <th scope="col">類型</th>
      <th scope="col">規格</th>
      <th scope="col">數量</th>
      <th scope="col">單位量</th>
      <th scope="col">單位y總量</th>
      <th scope="col">單位</th>
      {% if request.session.u_permission > 1 %}
      <th>編輯</th>
    {% endif %} 
    </tr>
  </thead>
  <tbody>
    <!-- Corrected the template variables with double curly braces -->
    {% for item in pagelist %}
      <tr>
        <td>{{ item.siteinfo.code }}</td>
        <td>{{ item.siteinfo.owner }}</td>
        <td>{{ item.siteinfo.name }}</td>
        <td>{{ item.material.mat_code }}</td>
        <td>{{ item.material.name }}</td>
        <td>{{ item.material.category.name }}</td>
        <td>{{ item.material.specification.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>
          {% if item.material.is_divisible %}
            {{ item.unit }}
            
          {% endif %}
        </td>
        <td>
          {% if item.material.is_divisible %}
            {{ item.total_unit }}
          {% endif %}
        </td>
        <td>
          {% if item.material.is_divisible %}
            {{ item.material.unit_of_division }}
          {% endif %}
        </td>
        {% if request.session.u_permission > 1 %}
        <td><a class="editRow_select" href="#" onclick="editRow({{ item.id }})">編輯</a></td>
        {% endif %} 
      </tr>
    {% endfor %}
  </tbody>
{% endblock %}
