{% extends 'base/base_table.html' %}{{ '' }}
{% block title %}{{ title }} {{ '' }}{% endblock %}
{% block javascript %}<script></script>{% endblock %}
{% block form %}
  {% load strmap %}
  <!-- Corrected form tag and added trailing slash to action attribute -->
  <form id="search" action="/constn/list/" method="GET">
    {% csrf_token %}
    <p>
      <label for="owner">業主</label>
      <input type="text" id="owner" name="owner" value="{{ request.GET.owner }}" />
      <label for="code">工地編號</label>
      <input type="text" id="code" name="code" value ="{{ request.GET.code }}" />
      <label for="address">地址</label>
      <input type="text"
             id="address"
             name="address"
             value="{{ request.GET.address }}" />
    </p>
    <p>
      {% get_constn_state as constn_state %}  <!-- 调用模板标签并将结果赋值给变量 -->
      <!-- {{constn_state}}-->
      <label for="state">狀態</label>
      <select id="state" name="state">
        {% for state in constn_state %}
          <!-- 迭代 constn_state 变量 -->
          <option value="{{ state.0 }}"
                  {% if request.GET.state == state.0|stringformat:"s" %}selected{% endif %}>{{ state.1 }}</option>
        {% endfor %}
      </select>
    </p>
    <input type="submit" value="查詢" />
  </form>
  <div id="modalContainer"></div>
{% endblock %}
{% block table %}
  <caption>車輛資訊</caption>
  <thead>
    <tr>
      <th scope="col">工地編號</th>
      <th scope="col">業主</th>
      <th scope="col">工程名稱</th>
      <th scope="col">地點</th>
      <th scope="col">發案日期</th>
      <th scope="col">狀態</th>
      <th scope="col">結案日期</th>
    </tr>
  </thead>
  <tbody>
    <!-- Corrected the template variables with double curly braces -->
    {% for item in pagelist %}
      <tr>
        <td>
          <!--{{item.id}}-->{{ item.code }}
        </td>
        <td>
          <!--{{item.id}}-->{{ item.owner }}
        </td>
        <td>
          <!--{{item.id}}-->{{ item.name }}
        </td>
        <td>
          <!--{{item.id}}-->{{ item.address }}
        </td>
        <td>
          {% if item.crate_date %}
            {{ item.crate_date }} {% else %} --- {% endif %}
          </td>
          <td>
            {% get_constn_state as constn_state %}
            {% for state in constn_state %}
              <!-- 迭代 constn_state 变量 -->
              {% if state.0|stringformat:"s" == item.state|stringformat:"s" %}{{ state.1 }}{% endif %}
            {% endfor %}
          </td>
          <td>
            {% if item.done_date %}
              {{ item.done_date }} {% else %} --- {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    {% endblock %}
