{% extends 'base/base_search.html' %}{{ '' }}
{% load static %}
{% load strmap %}
{% block working %}
  <div class="tableStyle">
    <table id="base_table" class="table table-primary table-striped rounded">
      {% block table %}
        <caption></caption>
        <thead>
          <th></th>
        </thead>
        <tbody>
        </tbody>
      {% endblock %}
      <tfoot>
        {% if is_paginated %}
          <tr>
            <td colspan="30">
              <div class="pagination ">
                <span class="step-links">
                  {% if page_obj.has_previous %}
                    <a href="#" onclick="changePage(event, 1)">&laquo; 第一頁</a>
                    <a href="#"
                       onclick="changePage(event, {{ page_obj.previous_page_number }})">上一頁</a>
                  {% endif %}
                  <span class="current">頁 {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
                  {% if page_obj.has_next %}
                    <a href="#" onclick="changePage(event, {{ page_obj.next_page_number }})">下一頁</a>
                    <a href="#"
                       onclick="changePage(event, {{ page_obj.paginator.num_pages }})">最後一頁 &raquo;</a>
                  {% endif %}
                </span>
              </div>
            </td>
          </tr>
        {% endif %}
      </tfoot>
    </table>
  </div>
{% endblock %}
