{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0"
    />
    <title>{% block title %}base{% endblock %}</title>
    <script>

      
    </script>
    {% block javascript %}
    <script></script>
    {% endblock %}

    {% block styles %}
    <style></style>
    {% endblock %}
    <style>
    </style>
  </head>
  <body>
       {% block content %}
            <h2>Welcome, {{ request.user.username }}.</h2>
      {% endblock %}
  </body>
</html>
