{% extends 'base/base_table.html' %}
{% load static %}
{% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
  <script type="text/javascript">
    var columns3 = {{ columns3 | safe }};
    var columns4 = {{ columns4 | safe }};
    var end_date={{ end_date }};
    var url = "{{ action }}";
    
  $(document).ready(function() {
      // 綁定保存按鈕的點擊事件
      $('#upload_button').on('click', async function(event) {
          event.preventDefault();
          var fileInput = document.getElementById('excelFile');
          var file = fileInput.files[0];
          totalUpload(file)
      });
  });
  
  </script>
  <script src="{% static 'js/trans_upload_excel.js' %}"></script>
{% endblock %}
{% block form %}
  <h2>{{ titles }}上傳EXCEL檔案</h2>
  <!-- 修改了 form 的 id 以便直接選中 -->
  <form id="upload_excel_form"
        method="post"
        action="/transport_log/uploadexcel/"
        enctype="multipart/form-data">
    {% csrf_token %}
    <div>
    <input type="file" id="excelFile" name="excel_file" accept=".xlsx" />
    <button type="button" id="upload_button">上傳</button>
    </div>
    <!-- 修改了按鈕的 ID 以防止與 form 的 ID 混淆 -->
    <div hidden>
      <label for="is_all">全部上傳</label>
      <input type='checkbox' id='is_all' name="is_all" checked />
    </div>
  </form>
{% endblock %}
{% block table %}
  <caption>匯入異常</caption>
  <thead>
    <tr>
      <th rowspan="2">異常</th>
      <th rowspan="2">日期</th>
      <th colspan="4">工 地</th>
      <th colspan="5">材料規格</th>
      <th colspan="6">倉庫</th>
      <th colspan="3">月報表</th>
      <th rowspan="2">備註</th>
      <th colspan="2">施工層別</th>
      <th colspan="2">吊卡車公司</th>
      <th colspan="2">經手人</th>
      <th rowspan="2">key單日期</th>
    </tr>
    <tr>
      <th>工地編號</th>
      <th>轉單工地</th>
      <th>業主</th>
      <th>工地名稱</th>
      <th>單據編號</th>
      <th>產品編號</th>
      <th>品名</th>
      <th>單位(米)</th>
      <th>米數規格</th>
      <th>入庫量</th>
      <th>出庫量</th>
      <th>入庫米數</th>
      <th>出庫米數</th>
      <th>入出庫淨額</th>
      <th>總米數淨額</th>
      <th>入料</th>
      <th>出料</th>
      <th>數量</th>
      <th>層碼</th>
      <th>層數</th>
      <th>公司</th>
      <th>車號</th>
      <th>編號</th>
      <th>姓名</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
{% endblock %}
