{% extends 'base/base_table.html' %}{{ '' }} {% block title %}
  {{ title }} {{ '' }}
{% endblock %} {% block javascript %}
  <script>
    function addMaterial(event) {
      // 向後端發送 AJAX 請求
      $.ajax({
        url: '/material/save/',
        method: 'GET',
        success: function (data) {
          $('#modalContainer').html(data)
          $('#createModal').modal('show')
        },
        error: function (error) {
          console.error('Error loading modal content: ', error)
        }
      })
    }
    
    function upload(event) {
      // 向後端發送 AJAX 請求
      $.ajax({
        url: '/material/uploadexcel/',
        method: 'GET',
        success: function (data) {
          $('#modalContainer').html(data)
          $('#createModal').modal('show')
        },
        error: function (error) {
          console.error('Error loading modal content: ', error)
        }
      })
    }
    
    function editRow(id) {
      // 轉換姓名欄位
    
      $.ajax({
        url: '/material/save/',
        method: 'GET',
        data: { id: id },
        success: function (data) {
          $('#modalContainer').html(data)
          $('#createModal').modal('show')
        },
        error: function (error) {
          console.error('Error loading modal content: ', error)
        }
      })
    }
  </script>
{% endblock %} {% block form %}
  <!-- Corrected form tag and added trailing slash to action attribute -->
  <form id="search" action="/material/list/" method="GET">
    {% csrf_token %}
    <p>
      <label for="mat_code">料號:</label>
      <input type="text" id="mat_code" name="mat_code" value="{{ request.GET.mat_code }}" />
      <label for="name">料名:</label>
      <input type="text" id="name" name="name" value="{{ name }}" />

      <!--{{ request.GET.category_id  }} -->
      <label for="category_id">分類 :</label>
      <select id="category_id" name="category_id">
        <option value> 全部 </option>
        {% for category in category_list %}

          <option value="{{ category.id }}" {% if request.GET.category_id and request.GET.category_id == category.id|stringformat:"s" %} selected {% endif %}   >
           
            {{ category.name }}</option>
        {% endfor %}
      </select>
    </p>
    <input type="submit" value="查詢" />
    <button type="button" onclick="addMaterial(event)">新增</button>
    <button type="button" onclick="upload(event)">上傳EXCEL</button>
  </form>
  <div id="modalContainer"></div>
{% endblock %} {% block table %}
  <caption>權限</caption>
  <thead>
    <tr>
      <!--<th scope="col">#</th>-->
      <th scope="col">物料編號</th>
      <th scope="col">入料編號</th>
      <th scope="col">出料編號</th>
      <th scope="col">料名</th>
      <th scope="col">分類</th>
      <th scope="col">規格</th>
      <th scope="col">是否為耗材</th>
      <th scope="col">是否可拆分</th>
      <th scope="col">拆分單位</th>
      <th scope="col">編輯</th>
    </tr>
  </thead>
  <tbody>
    <!-- Corrected the template variables with double curly braces -->
    {% for item in pagelist %}
      <tr>
        <!-- <td>{{ mat.id }}</td>-->
        <td>{{ item.mat_code }}</td>
        <td>{% if item.mat_code2 %} {{ item.mat_code2 }}{%endif%}</td>
        <td>{% if item.mat_code3 %} {{ item.mat_code3 }}{%endif%}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.specification }}</td>
        <td>{{ item.is_consumable|yesno:'是,否' }}</td>
        <td>{{ item.is_divisible|yesno:'是,否' }}</td>
        <td>{{ item.unit_of_division }}</td>
        <td>
          <a href="#" onclick="editRow({{ item.id }})">編輯</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock %}
