{% extends 'base/model_edit.html' %}
{% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
{% endblock %}
{% block styles %}
  <style>
  .modal-content {
   width: auto ;
  }

  .helptext{
  color:red ;
  display:inline-block ;
  }
  .steel_table{
    width:1300px ;
  }

  .steel_table input{
    width:100% ;
  }

  th, td {
    border: 1px solid black; /* 設置單元格邊框 */
    padding: 8px; /* 設置內邊距 */
    text-align: center; /* 文字居中 */
  }

  th {
    background-color: #f2f2f2; /* 設置表頭背景顏色 */
  }
  </style>
{% endblock %}
{% block form %}
  <!-- 修改了 form 的 id 以便直接选中 -->
  <form style="with:100%" method="post" action="/transport_log/edit/">
    {% csrf_token %}
    <input type="hidden" name="id" id="id" value="{{ report.id }}">
    <table>
      <div>工地代號 : {{ report.translog.constn_site.code }}</div>
      <div>業主 : {{ report.translog.constn_site.owner }}</div>
      <div>轉單工地 : {{ report.translog.constn_site.code }}</div>
      <div>單據編號 : {{ report.translog.code }}</div>
      <div>物料 :{{ report.material.name }}</div>
      <div>總數量: {{ report.all_quantity }}</div>
      <div>總米數:{{ report.all_unit }}</div>
      <textarea style="with:100%" id="remark" name="remark" row="5">{% if report.remark and report.remark != 'None' %}{{report.remark}}{% endif %}</textarea>
    </form>
  {% endblock %}
