{% extends 'base/base_table.html' %}{{ '' }} {% block title %}
{{ title }} {{ '' }}
{% endblock %} {% block javascript %}
<script>
  function editRow(id) {
    // 結案選單
    $.ajax({
      url: '/stock/edit/',
      method: 'GET',
      data: { 'id': id },
      success: function (data) {
        $('#modalContainer').html(data)
        $('#createModal').modal('show')
      },
      error: function (error) {
        console.error('Error loading modal content: ', error)
      }
    })
  }
</script>
{% endblock %} {% block form %}
<!-- Corrected form tag and added trailing slash to action attribute -->
<form id="search" action="/stock/list/" method="GET">
  {% csrf_token %}
  <p>
    <label for="siteinfo">倉庫:</label>
    <select id="siteinfo" name="siteinfo">
      <option value> 全部 </option>
      {% for siteinfo in siteInfos %}
      <option value="{{siteinfo.id}}" 
        {% if request.GET.siteinfo and request.GET.siteinfo|stringformat:"s" == siteinfo.id|stringformat:"s" %}
        selected 
        {% endif%}>
        {{siteinfo.name}}</option>
      {% endfor %}
    
    </select>
    &nbsp;&nbsp;
    <label for="siteinfo"> 顯示細項:</label>
    <input type="checkbox" id="is_detial" name="is_detial" {% if request.GET.is_detial %} checked {% endif %} >
  </p>
  <p>
        <label for="code">料號:</label>
        <input type="text" id="code" name="code" value="{{ request.GET.code }}" />
        <label for="name">料名:</label>
        <input type="text" id="name" name="name" value="{{ request.GET.name }}" />
        <label for="category_id">分類 :</label>
        <select id="category_id" name="category_id">
          <option value> 全部 </option>
          {% for category in categorys %}
          <option value="{{ category.id }}" 
          {% if request.GET.category_id and request.GET.category_id|stringformat:"s" == category.id|stringformat:"s" %} selected {% endif %}>
            {{ category.name }}</option>
          {% endfor %}
        </select>
  </p>
  <input type="submit" value="查詢" />

</form>
{% endblock %} {% block table %}
<caption><h3>庫存</h3></caption>
<thead>
  <tr>
    <th scope="col">倉庫 </th>
    <th scope="col">料號</th>
    <th scope="col">料名</th>
    <th scope="col">類型</th>
    <th scope="col">規格</th>
    <th scope="col">數量</th>
    <th scope="col">單位量</th>
    <th scope="col">單位</th>
    {% if request.session.u_permission > 1 %}
      <th>編輯</th>
    {% endif %} 
  </tr>
</thead>
<tbody>
  <!-- Corrected the template variables with double curly braces -->
  {% for item in pagelist %}
  <tr>
    <td><!--{{item.id}}-->{{ item.siteinfo.name }}</td>
    <td>{{ item.material.mat_code }}</td>
    <td>{{ item.material.name }}</td>
    <td>{{ item.material.category.name }}</td>
    <td>{{ item.material.specification.name }}</td>
    <td>{{ item.quantity }}</td>
    <td>{% if item.material.is_divisible %}{{ item.total_unit }}{% else %}---{% endif %}</td>
    <td>{% if item.material.is_divisible %}{{ item.material.unit_of_division }}{% else %}---{% endif %}</td>

    {% if request.session.u_permission > 1 %}
    <td><a class="editRow_select" href="#" onclick="editRow({{ item.id }})">編輯</a></td>
    {% endif %} 
  </tr>
  {% endfor %}
</tbody>
{% endblock %}